body {
	font-family: helvetica;
}


h1 {
	text-align: center;
	font-size: 30px;
	color: #57BCB1;
	padding-top: 20px;

}

.input {
	margin: auto;
	text-align: center;
	width: 400px;
	height: 50px;
	background-color: #91E8DB;
	padding-top: 20px;

}

#input {
	width: 300px;
	border-radius: 10%;
}

#ul {
	margin: auto;
	width: 350px;
	height: 400px;
	margin-top: 30px;
	padding-top: 20px;
	background-color: silver;
	text-align: center;
	list-style: none;
}
